/* Write your CSS here */
.notfound-container {
  max-width: 1100px;
  margin: auto;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
@media only screen and (max-width: 767px) {
  .notfound-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
}
.notfound-heading {
  color: #ffffff;
  font-family: Bree Serif;
  font-weight: 500;
  font-size: 50px;
}
@media only screen and (max-width: 767px) {
  .notfound-heading {
    color: #ffffff;
    font-family: Bree Serif;
    font-weight: 500;
    font-size: 32px;
  }
}
